<footer>

    <a></a> <!-- Weird link tags were showing up in the footer, this is a hack to remove them -->

  {{ site.title }}{{ page.url | replace: ".html" "" | replace: " ", "-" }}
  <br><br>
  {% if site.github_username and site.github_username != "" %} <a href="https://github.com/{{site.github_username}}">@{{ site.github_username }}</a> {% endif %}

</footer>

<script type="text/javascript" src="{{ page.js_file | relative_url }}"></script>

{% for js_file in page.js_files %}
<script type="text/javascript" src="{{ js_file | relative_url }}"></script>
{% endfor %}
