<br>
<hr>

<footer>
  <div id="icons">
    <a href="/"><img src="/assets/icons/me.png" width=88px height=31px></a>
    <a href="/feed/blog.xml"><img src="/assets/icons/rss.gif" width=88px height=31px></a>
    <a href="https://www.archlinux.org"><img src="/assets/icons/archlinux.png" width=88px height=31px></a>
    <a href="https://neovim.io"><img src="/assets/icons/neovim.png" width=88px height=31px></a>
  </div>
  <div id="text">
    ~{{ page.url | replace: ".html" "" | replace: " ", "-" }}
    <br>
    {% if site.github_username and site.github_username != "" %} 
      <a href="https://github.com/{{site.github_username}}">@{{ site.github_username }}</a> 
    {% endif %}
  </div>
</footer>

<script type="text/javascript" src="{{ page.js_file | relative_url }}"></script>

{% for js_file in page.js_files %}
<script type="text/javascript" src="{{ js_file | relative_url }}"></script>
{% endfor %}
