---
  # Style-Sheet
---

/* FONTS */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
@import url('syntax-highlighting.css');

:root {

  --main-color: black;
  --bg-color: #fafcff;
  --alt-bg-color: #f5f5f5;

  --text-color: black;
  --pop-color: black;
  --alt-color: #5d7e90;
  --light-alt-color: #505b61; 

}

/* BASE */
body { background-color: var(--bg-color); color: var(--main-color); font-family:"Noto Sans Mono Regular", monospace; font-size: 14px; line-height: normal; font-weight: 400; margin: 0 auto; width: 90%; max-width: 700px; line-height: 1.4em; }
h1, h2, h3, h4, h5, h6 {  margin: 0px;  margin-top: 22px;  font-weight: bold;  color: var(--pop-color); }
p, ul, ol { font-size: 1em;  color: var(--text-color); }
a { text-decoration: underline;  color: var(--alt-color); }
a:has(img) { text-decoration: none; color: inherit; background-color: transparent; }
.primary-text { color: var(--main-color); }
@media only screen and (max-device-width: 500px) { * { font-size: 12px !important; } }
b, strong { color: var(--main-color); }
.invert { color: var(--bg-color); background-color: var(--main-color); padding-left: 3px; padding-right: 3px; padding-top: 1px; padding-bottom: 1px; }

/* HOME PAGE */
.profile     { margin-right: 5%; margin: 0 auto; display: flex; align-items: center; cursor: pointer; }
.container   { display: grid; grid-template-columns: 30% 70%; grid-gap: 2%; }
.description { box-shadow: 5px 5px 5px -5px black; border: 1px solid black; background-color: var(--alt-bg-color); padding: 10px 20px; }

.info { max-height: 10em; overflow-y: auto; border: 1px solid black; background: var(--alt-bg-color); padding: 10px; box-sizing: border-box; margin-top: 1em; }
.info td, .info th { padding: 8px; text-align: left; /* Ensure left alignment */ vertical-align: top; /* Align top to ensure consistent vertical alignment */ }

footer { display: flex; justify-content: space-between; align-items: center; width: 100%; }
footer #icons { display: flex; gap: 2px; /* Adjust spacing between icons */ }
footer #text { text-align: right; }

/* SMALL FONT OVERRIDE */
body.large { line-height: 0.7em; }

/* LAYOUT */
.container { margin-right: auto;  margin-left: auto; }
p { word-wrap: break-word;  word-break: break-word;  white-space: no-wrap; }
footer { color: var(--text-color);  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { margin-top: 25px;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }
img.home_header { width: 100%; margin-top: 5%; margin-bottom: 5%; }
img.detail_header { width: 100%; }
img, .img { height: auto; max-width: 100%; box-shadow: 5px 5px 5px -5px black; }
img.emoji { box-shadow: none; }

/* LISTS */
:not(.menu) > ul { list-style: none; padding-left: 1em; }
ul :not(.menu) > ul { list-style: none; padding-left: 3em; margin-top: 0.5em; margin-bottom: 0.7em; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "-";  margin-right: 9px; }
ul :not(.menu) > ul > li:before { content: "*";  margin-right: 9px; }

/* NAVIGATION */
.menu { border-top: solid 1px var(--main-color);  border-bottom: solid 1px var(--main-color);  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--bg-color); background-color: var(--main-color); }
.menu ul li.page_title { text-align: left; margin-left: 10px; float: left; font-weight: bold; color: var(--main-color) }

/* ERROR PAGES */
div.error_box { margin: 100px; text-align: center; }
div.error_box h1 { font-size: 2em; }

/* SMALL TWEAKS */
*::selection { background-color: var(--light-alt-color); color: black; }
.img_link:hover {background-color: var(--bg-color)}

/* COMIC */
.comic {font-family:"Nanum Pen Script"; font-size: 1.5em;}

/* SPECIAL */
#music img { max-width: 29%; margin: 0px 1px 0px 1px; }
