---
---
<div style="display: flex; align-items: center; justify-content: space-between;">
    <div>
        <em>{{ entry.title }}</em>
        <br>
        {% for author in entry.author_array %}
            {% if site.name contains author.last %}
            <span><strong>{{ author.first }} {{ author.last }}</strong></span>.
            {% else %}
            <span>{{ author.first }} {{ author.last }}</span>.
            {% endif %}
        {% endfor %}

        {% if entry.series %}
        <span>{{ entry.series }},</span>
        {% endif %}

        <span>{{ entry.year }}</span>

        {% if entry.url %}
        <span><a href="{{ entry.url }}">[link]</a></span>
        {% endif %}

        {% if entry.url_code %}
        <span><a href="{{ entry.url_code }}">[code]</a></span>
        {% endif %}

        {% if entry.url_pdf %}
        <span><a href="{{ entry.url_pdf }}">[pdf]</a></span>
        {% endif %}
    </div>

    {% if entry.img %}
        <img src="{{ entry.img }}" alt="{{ entry.title }}" style="max-width: 15em;
        height: auto; margin-top:1%" />
    {% endif %}
</div>
