---
---
<div style="display: flex; align-items: center; justify-content: space-between;">
    <div>
        <em>{{ entry.title }}</em>
        <br>
        {% for author in entry.author_array %}
            {% if site.name contains author.last %}
                <strong>
                    <span>{{ author.last }}</span>
                    <span>{{ author.first | slice:0 }}.</span>
                </strong>
            {% else %}
                <span>{{ author.last }}</span>
                <span>{{ author.first | slice:0 }}.</span>
            {% endif %}
        {% endfor %}

        {% if entry.series %}
        <span>{{ entry.series }},</span>
        {% endif %}

        <span>{{ entry.year }}</span>

        {% if entry.url_code %}
        <span><a href="{{ entry.url_code }}">[code]</a></span>
        {% endif %}

        {% if entry.url_pdf %}
        <span><a href="{{ entry.url_pdf }}">[pdf]</a></span>
        {% endif %}
    </div>

    {% if entry.img %}
        <img src="{{ entry.img }}" alt="{{ entry.title }}" style="max-width: 15em;
        height: auto; margin-top:1%" />
    {% endif %}
</div>
