---
layout: default
---

{{ content }}

<textarea placeholder = "Your messsage :) (new signs appear after some while)" name=comment form="guest_form" style="width: 100%;"></textarea>

<form id="guest_form" action="/guestbook_send">
    <input placeholder="Name" type="text" id="name" name="name">
    <input type="submit" value="Sign" style='background:none; outline: none;'>
</form>

<hr>

<ul>
{% for guest in site.guests %}

<li> {{ guest.name }} 

<div style='border:1px black solid; margin-bottom: 20px'>
    <div style=' margin-left: 10px; font-size: 0.85em;'>
         {{guest.content }}
    </div>
</div>

{% endfor %}
<ul>
