---
layout: default
---

{%- if page.detail_image -%}<img class="home_header" src="{{ page.detail_image }}">{%- endif -%}

<style>
    .profile {
        margin-right: 5%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
    .container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 2%;
    }
    
    .description {
        box-shadow: 5px 5px 5px -5px black; 
        margin-left: -10px;
        margin-right: -10px;
        background-color: #f5f5f5;
        padding: 10px 20px;
    }

    .info {
      max-height: 10em; /* Adjust this value to your preferred height */
      overflow-y: auto;
      border: 1px solid #ddd;
      padding: 10px;
      box-sizing: border-box; /* Ensure padding is included in the height */       
      margin-top: 1em;
    }

    td, th {
      padding: 8px;
      text-align: left; /* Ensure left alignment */
      vertical-align: top; /* Align top to ensure consistent vertical alignment */
    }
</style>

<div class=container>

<div class="profile" onclick="setRandomPicture()">
    {% for image in site.static_files %}
    {% if image.path contains 'images/me' %}
    
    {% if image.path contains page.profile %}
        <img style="display: inline-block; float:left;" src="{{ image.path }}" alt="profile picture" width=250 height=250/>
    {% else %}
        <img style="display: none; float:left;" src="{{ image.path }}" alt="profile picture" width=250 height=250/>
    {% endif %}
    
    {% endif %}
    {% endfor %}
</div>

<div class="description">

{{ content }}

</div>

</div> <!-- end of container -->

<h3>News</h4>

<div class="info">

  {% assign news = site.data.news | sort: 'date' | reverse %}
  <table>
  <tbody>
    {% for item in news %}
      <tr>
        <th style="width: 13%">{{ item.date | date: "%b %Y" }}</th>
        <td style="width: 87%">{{ item.description | markdownify | remove: '<p>' | remove: '</p>' }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>

</div> <!-- end of news -->

<h3 id="whatnow" style="display: none;">Right now</h4>

<div id="now" class="info">

    <div id="current-task" style="word-wrap: break-word; white-space: pre-wrap;"> </div>
    <div id="current-track"> </div>

</div> <!-- end of now -->
