---
layout: default
---

{{ content }}

Feed: <a class="img_link" href="/feed/blog.xml"><img  src="/assets/icons/rss.png" width="36" height="14"></a>

<ul>
  {% for post in site.blog %}


  {% if post.preview %}
    <img src={{ post.preview }} height="auto" width="auto" style="float: right; max-width: 5em">
  {% endif %}

    <li>
        <code>
        <a href="{{ post.url }}">{{ post.title }}</a>
        </code>
    </li>
    <div style="margin-left: 1em; font-style: italic;">
        {{ post.description }}
    </div>
  {% endfor %}
</ul>

