---
layout: default
title:  "POSTS"
---

{%- if page.detail_image -%}<img class="detail_header" src="{{ page.detail_image }}">{%- endif -%}

{% if page.preview %}
<meta property="og:image" content="{{ page.preview }}">
{% endif %}

<h1>{{ page.post-title }}</h1>

<div class="post">

    {% toc %}

    {{ content }}

</div>

<h3>Comments</h3>

<script src="https://utteranc.es/client.js"
        repo="vagos/vagos.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
